/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.multiline-tooltip {
  white-space: pre-line !important;
}

.background-red {
  --mdc-snackbar-container-color: #D32F2F;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}
