<div>
  <div>
      <button *ngIf="isNotStarted()" mat-raised-button (click)="startGame()">Start game!</button>
  </div>
  <div>
    <button *ngIf="isStarted()" mat-raised-button (click)="confirmMove()" class="confirm-button">Confirm move!</button>
  </div>
  <div>
    <button *ngIf="isStarted()" mat-raised-button (click)="resolve()" class="resolve-button">Resolve!</button>
  </div>
</div>
<div class="resolve-container">
  <div style="display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;" *ngIf="isLoading" >
    <mat-progress-spinner color="accent" mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
  <table mat-table [dataSource]="words" class="words-table mat-elevation-z1">
    <ng-container matColumnDef="words">
      <th mat-header-cell *matHeaderCellDef> Words </th>
      <td mat-cell *matCellDef="let word" (mouseenter)="showPotentialWord(word)" (mouseleave)="clearPotentialWord()">
        <div class="word-container">
          <ng-container *ngFor="let element of word.elements">
            <div class="letter points-{{element.points}}">
              {{element.letter}}
              <div class="points">{{element.points}}</div>
            </div>
          </ng-container>
        </div>
        <div class="related-words-container" *ngIf="word.relatedWords.length > 0">
          <div class="related-words-label">Related words:</div>
          <ng-container *ngFor="let relatedWord of word.relatedWords">
            <div class="word-container">
              <ng-container *ngFor="let element of relatedWord.elements">
                <div class="letter points-{{element.points}}">
                  {{element.letter}}
                  <div class="points">{{element.points}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let word">
        {{ word.points }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
