:host {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

.confirm-button {
  margin-top: 20px;
  width: 150px;
}

.resolve-button {
  margin-top: 20px;
  width: 150px;
}

.resolve-container {
  margin-top: 20px;
  position: relative;
  height: 500px;
  overflow: auto;
}

.virtual-scroll-wrapper {
  height: 500px;
  width: 465px;
}

.words-table {
  width: 450px;
}

.word-container {
  padding: 2px;
  text-align: left;
  height: 30px;
  cursor: pointer;
}

.letter {
  position: relative;
  display: inline-block;
  border: 1px solid chocolate;
  margin: 1px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  padding: 2px;
  font-size: 14px;
  vertical-align: top;
  text-align: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.letter.points-0 {
  color: grey;
  background-color: beige;
}

.letter.points-1 {
  color: grey;
  background-color: beige;
}

.letter.points-2 {
  color: grey;
  background-color: #c9f3f6;
}

.letter.points-3 {
  color: grey;
  background-color: #c6e4fc;
}

.letter.points-5 {
  color: grey;
  background-color: #ffe9ed;
}

.letter.points-6 {
  color: grey;
  background-color: #ffe9ed;
}

.letter.points-7 {
  color: grey;
  background-color: #ffe9ed;
}

.letter.points-9 {
  color: grey;
  background-color: #ffe9ed;
}

.points {
  position: absolute;
  top: 8px;
  right: 3px;

  font-size: 5px;
}

.mat-column-points {
  width: 15% !important;
  color: grey;
}
.additional-data {
  margin-bottom: 5px;
  margin-left: 10px;
}

.additional-data div {
  display: inline-block;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid lightgray;
}

.related-words-true {
  background-color: #ffeee9;
}

.related-words-false {
  background-color: white;
}

.bonuses-true {
  background-color: #e8fcff;
}

.bonuses-false {
  background-color: white;
}


.related-words-container {
  margin-left: 10px;
}

.related-words-label {
  font-size: 8px;
  color: grey;
  margin-bottom: 6px;
}
