:host {
}

.rack-container {
  display: inline-block;
  padding: 2px;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  background-color: #f6f5f2;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.letter {
  position: relative;
  display: inline-block;
  border: 1px solid #e5e3e0;
  margin: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  padding: 2px;
  font-size: 29px;
  vertical-align: top;
  text-align: center;
  color: #6c6a67;
  background-color: #ffffff;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10 and IE 11 */
  user-select: none;         /* Standard syntax */
  transition: background-color 0.15s ease-in-out;
}

.letter-active.letter:hover {
  background-color: #e8e6e3;
  cursor: pointer;
  transform: scale(1.05);
}

.letter-active {
  color: #333;
}

.letter-disabled {
  color: #bbb;
}

.points {
  position: absolute;
  top: 16px;
  right: 5px;
  font-size: 9px;
  color: #6c6a67;
}

.rack-active {
  background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%);
}

.rack-disabled {
  background-image: linear-gradient(to right, #b3b3b3 0%, #cccccc 100%);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}
