<div class="rack-container mat-elevation-z1" cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListData]="movableFields"
     [cdkDropListDisabled]="isRackDisabled"
     [cdkDropListEnterPredicate]="canDrop"
     (cdkDropListDropped)="dropped($event)">
  <ng-container *ngFor="let movableField of movableFields; let i = index" >
    <div class="letter cdk-drag" cdkDrag>
      {{movableField.letter.letter}}
      <div class="points">{{movableField.letter.points}}</div>
    </div>
  </ng-container>
</div>
