.board-field-container {
  position: relative;
  margin: 3px;
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10 and IE 11 */
  user-select: none;         /* Standard syntax */
  transition: transform 0.15s ease-in-out;
}

.board-field-container:hover {
  transform: scale(1.05);
}

.board-field-background {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e5e3e0;
  width: 40px;
  height: 40px;
  line-height: 13px;
  border-radius: 5px;
  padding: 2px;
  font-size: 9px;
  vertical-align: top;
  text-align: center;
  color: #9e9d9b;
  background-color: #ffffff;
}

.board-field-background:hover {
  /*background-color: aliceblue;*/
  cursor: default;
}


.board-field-letter {
  position: relative;
  display: inline-block;
  border: 1px solid #e5e3e0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  padding: 2px;
  font-size: 24px;
  vertical-align: top;
  text-align: center;
  color: #6c6a67;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: box-shadow 0.15s ease-in-out;
}

.board-field-letter:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.board-field-letter.potential {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /*background-color: #e8e6e3;*/
  background-color: #AED6F1;
  color: #5A8DA1;
}

.board-field-letter.invalid {
  background-color: #ff7575;
  color: #fff;
}

.board-field-letter.invalid:hover {
  background-color: #ff9e9e;
}

.board-field-letter.blank {
  color: #ccc;
}

.board-field-letter:hover {
  /*background-color: aliceblue;*/
  cursor: pointer;
}

.board-field-points {
  position: absolute;
  top: 16px;
  right: 5px;
  font-size: 9px;
  color: #6c6a67;
}

/* Bonus tiles */
.board-field-tws, .board-field-dws, .board-field-tls, .board-field-dls {
  font-weight: bold;
}

.board-field-tws {
  background-color: #f28383;
  color: #fff;
}

.board-field-dws {
  background-color: darksalmon;
  color: #f2f2f2;
}

.board-field-tls {
  background-color: #80ced7;
  color: #fff;
}

.board-field-dls {
  background-color: lightcyan;
  color: #bfbfbf;
}

/* Drag and Drop animations */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}
