<app-rack [rackNumber]=1
          [movableFieldSource]=MovableFieldSource.RACK1
></app-rack>
<div class="board-container mat-elevation-z1" *ngIf="boardParameters$ | async as boardParameters">
  <ng-container *ngFor="let _ of [].constructor(boardParameters.verticalSize); let y = index">
    <ng-container *ngFor="let _ of [].constructor(boardParameters.horizontalSize); let x = index">
      <app-field
        [x]="x"
        [y]="y"
      ></app-field>
      <br *ngIf="x === boardParameters.horizontalSize - 1"/>
    </ng-container>
  </ng-container>
</div>
<app-rack [rackNumber]=0
          [movableFieldSource]=MovableFieldSource.RACK0
></app-rack>
