:host {
  display: inline-block;
  vertical-align: top;
}

.board-container {
  padding: 10px;
  margin: 20px 2px 20px 2px;
  text-align: center;
  background-color: #f6f5f2;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.winning-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5em;
  z-index: 10;
}
