:host {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-right: 50px;
}

.game-title {

}

.games-container {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 0 8px 0;
}

.games-table {
  width: 100%;
}

.games-table td {
  cursor: pointer;
}
.games-table td:hover {
  background-color: #fcfcfc;
}

.games-table-toolbar {
  background-color: white;
}

.game-parameters {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  font-size: 12px;
  color: #5e5e5e;
  margin: 5px 5px 5px 5px;
}

.board-preview {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  line-height: 3px;
  margin: 5px 5px 5px 20px;
}

.field-preview {
  margin: 1px;
  width: 2px;
  height: 2px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ececec;
}

.field-preview.used {
  background-color: #8ea3ff;
  border-radius: 2px;
}

.letter {
  position: relative;
  display: inline-block;
  border: 1px solid chocolate;
  margin: 1px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  padding: 2px;
  font-size: 10px;
  vertical-align: top;
  text-align: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.letter.points-0 {
  color: grey;
  background-color: beige;
}

.letter.points-1 {
  color: grey;
  background-color: beige;
}

.letter.points-2 {
  color: grey;
  background-color: #c9f3f6;
}

.letter.points-3 {
  color: grey;
  background-color: #c6e4fc;
}

.letter.points-5 {
  color: grey;
  background-color: #ffe9ed;
}

.letter.points-6 {
  color: grey;
  background-color: #ffe9ed;
}

.letter.points-7 {
  color: grey;
  background-color: #ffe9ed;
}

.letter.points-9 {
  color: grey;
  background-color: #ffe9ed;
}

.points {
  position: absolute;
  top: 8px;
  right: 3px;

  font-size: 4px;
}

.mat-elevation-z1 {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
}
