<div>
  <div>
      <button *ngIf="!(gameStarted$ | async)" mat-raised-button (click)="startGame()" class="start-button">Start game!</button>
  </div>
  <div>
    <button *ngIf="(gameStarted$ | async)" mat-raised-button (click)="confirmMove()" class="confirm-button">Confirm move!</button>
  </div>
  <div>
    <button *ngIf="(gameStarted$ | async)" mat-raised-button (click)="resolve()" class="resolve-button">Resolve!</button>
  </div>
</div>
<div class="resolve-container-header">Solution <mat-slide-toggle [hideIcon]="true" [(ngModel)]="async">async</mat-slide-toggle></div>
<div class="resolve-container" (mouseleave)="clearPotentialWord()">
  <div style="display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;" *ngIf="isLoading" >
    <mat-progress-spinner color="accent" mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
  <!--tvsItemSize="48"-->
  <cdk-virtual-scroll-viewport tvsItemSize="63" class="virtual-scroll-wrapper">
    <table mat-table [dataSource]="words" class="words-table">
      <ng-container matColumnDef="words">
        <th mat-header-cell *matHeaderCellDef> Words </th>
        <td mat-cell *matCellDef="let word"
            (mouseenter)="showPotentialWord(word)"
            (click)="putSuggestedWord(word)">
          <div class="word-container">
            <ng-container *ngFor="let element of word.elements">
              <div class="letter points-{{element.points}}">
                {{element.letter}}
                <div class="points">{{element.points}}</div>
              </div>
            </ng-container>
          </div>
          <div class="additional-data">
            <div
              matTooltipClass="multiline-tooltip"
              [matTooltip]="relatedWordsTooltip(word)"
              class="related-words-{{word.relatedWords.length > 0}}">Related words: {{word.relatedWords.length}}</div>
            <div
              matTooltipClass="multiline-tooltip"
              [matTooltip]="bonusesTooltip(word)"
              class="bonuses-{{word.bonuses.length > 0}}">Bonuses: {{word.bonuses.length}}</div>
            <div
              matTooltipClass="multiline-tooltip"
              [matTooltip]="tooltipForWord(word.getWordAsString())"
              (mouseenter)="getDefinition(word)"
              class="definition">Word definition</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Points </th>
        <td mat-cell *matCellDef="let word">
          {{ word.points }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="solutionColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: solutionColumns;"></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
<div class="history-container-header">History</div>
<div class="history-container">
  <table mat-table [dataSource]="moveHistory" class="moves-table">
    <ng-container matColumnDef="moves">
      <th mat-header-cell *matHeaderCellDef> Moves </th>
      <td mat-cell *matCellDef="let move">
        <div class="player-name">
          {{move.playerName}}
        </div>
        <div class="moves-container">
          <ng-container *ngFor="let character of getCharacters(move.word)">
            <div class="letter">
              {{character}}
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let move">
        {{ move.points }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="moveHistoryColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: moveHistoryColumns;"></tr>
  </table>
</div>

