.board-field-container {
  position: relative;
  margin: 2px;
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: top;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.board-field-letter {
  position:relative;
  display: inline-block;
  border: 1px solid chocolate;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  padding: 2px;
  font-size: 24px;
  vertical-align: top;
  text-align: center;
  color: grey;
  background-color: beige;
  z-index: 1;
}

.board-field-letter:hover {
  background-color: aliceblue;
  cursor: pointer;
}
